[submodule "themes/triple-hyde"]
	path = themes/triple-hyde
	url = https://github.com/derme302/triple-hyde.git
[submodule "themes/nqh"]
	path = themes/nqh
	url = https://github.com/saadjsct/npqhugo.git
